body.theme-light {
  // base
  --brand: #08af72 !important;
  --brand-hover: #0bdd90 !important;
  --brand-color: #2d674b !important;
  --brand-icon-color: #2d674b !important;

  background: red !important;
}

:root {
  --brand: #08af72 !important;
  --brand-hover: #0bdd90 !important;
  --brand-color: #2d674b !important;
  --brand-icon-color: #2d674b !important;
}
